@font-face {
  font-family: 'lcars';
  src: url("fonts/HelveticaLTStd-UltraComp.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
body{
	background:url(trekbottom.gif) bottom left no-repeat #000;
	color:#ccc;
	margin:0;
	padding:0;
	font-family:lcars;
}
.toolbar {
    padding: 10px;
    height: 25px;
}
ul
{
	z-index:1;
	position:absolute;
	top:0;
	width:200px;
	left:0;
	padding:78px 0 0 0;
	margin:0;
	list-style-type:none;
	border-bottom:5px solid #000;		
}

ul a,ul strong{
	font-weight:normal;
	border-top:5px solid #000;		
	background:#ff9;
	text-transform:uppercase;
	text-decoration:none;
	color:#000;
	display:block;
	padding:5px;
	width:190px;
}

ul a:hover,ul strong{
	border-top:5px solid #000;		
	background:#99f;
	color:#000;
}
ul a {
	font-weight:bold;
	color:#fff;
        font-size:2em;
}
ul strong span,ul li a:hover span{
	font-weight:bold;
	color:#ff9;
	border-left:200px solid #ff9;
	background:#000;
	font-size:40px;
	letter-spacing:-4px;
	padding:0 5px;
	display:block;
	position:absolute;
	top:1px;
	line-height:59px;
	right:-450px;
	height:59px;
}

ul strong span{
	z-index:10;
}
ul li a:hover span{
	z-index:20;
}
#trek{
	background:url(trek.gif) no-repeat top left transparent;
	padding-bottom:90px;
}		
#content{
	z-index:10;
	padding:80px 0 0 220px;
	width:462px;
}		
h1{
	font-size:2.3em;
	color:#ccf;
}
#content ul{
	margin:0;
	padding:0 0 0 1em;
	list-style-type:square;
}
#content ul li a{
	color:#69C;
}

