#systray {
  text-align: right;
}
#systray > .toolbutton {
  font-size:22px;
}
#pages-not-supported {
  background-color:#cc3333;
  color:white;
  padding:5px;
  font-weight:bold;
}
.small {
  width: 30px;
  display: inline-flex;
}
#loginButton:before {
  content: "\f0c0";
  font-family: FontAwesome;
  font-size: 22px;
}
#logoutButton:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 22px;
}
