#systray {
  text-align: right;
}
#systray > .toolbutton {
  font-size:22px;
}
#pages-not-supported {
  background-color:#cc3333;
  color:white;
  padding:5px;
  font-weight:bold;
}
.small {
  width: 30px;
  display: inline-flex;
}
#loginButton:before {
  content: "\f0c0";
  font-family: FontAwesome;
  font-size: 22px;
}
#logoutButton:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 22px;
}
ul li form input {
  position:absolute;
  left: 50px;
  right: 35px;
  width: inherit !important;
}
ul li form a {
  position:absolute;
  right: 30px;
  width: inherit !important;
}

.menubar > .toolbutton {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-image: none;
    padding: 6px 6px 6px 6px;
    text-align: center;
}

ul li input[type="text"],
ul li input[type="password"],
ul li input[type="tel"],
ul li input[type="number"],
ul li input[type="search"],
ul li input[type="email"],
ul li input[type="url"],
ul li textarea,
ul li select {
  width: 90%;
}
